$border-light: 1px solid rgba(#fff, 0.3);
$border-default: 1px solid #fff;

$sidebar-border: 5px solid rgba(#fff, 0.3);
$sidebar-border-hover: 5px solid #fff;
$sidebar-border-active: 5px solid #29799a;

$color-primary: #29799a;
$color-secondary: #49a09f;
$color-pending: #ffe21f;
$color-danger: #ff695e;
$color-dove-grey: #d4d4d5;
$color-dove-grey-2: #bbbbbb;
$color-grey: #888888;
$color-grey-2: #dedede;

$color-white: #fff;
$color-black: #1b1c1d;
$color-black-light: #2d2d2d;
$color-black-hover: #363636;
