.status-card {
  background: #fff;
  box-shadow: 0 1px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 375px) {
    padding: 2rem 1rem !important;
  }

  &__header {
    text-transform: uppercase;
    letter-spacing: 0.25rem;

    @media screen and (max-width: 375px) {
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
    }

    &--incomplete {
      color: $color-dove-grey-2;
    }

    &--submitted {
      color: $color-pending;
    }

    &--admitted {
      color: $color-primary;
    }

    &--confirmed {
      color: $color-secondary;
    }

    &--declined {
      color: $color-danger;
    }
  }

  &__status {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-white;

    &--incomplete {
      background-color: $color-dove-grey-2;
    }

    &--submitted {
      background-color: $color-pending;
    }

    &--admitted {
      background-color: $color-primary;
    }

    &--confirmed {
      background-color: $color-secondary;
    }

    &--declined {
      background-color: $color-danger;
    }

    @media screen and (max-width: 375px) {
      letter-spacing: 0.1rem;
      font-size: 1rem;
    }
  }

  &__message {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 375px) {
      font-size: 1.5rem;
    }
  }

  &__key {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  &__value {
    font-weight: normal;
    text-transform: none;
  }
}

@media screen and (max-width: 390px) {
  .status-card {
    &__header {
      font-size: 1.5rem !important;
      letter-spacing: 0.15rem;
    }
  }
}
